numpy
hydra-optuna-sweeper
hydra-colorlog
rootutils
jupyter
tqdm
black[jupyter]
matplotlib
torchinfo
tensorboardX
nltk
rouge_score
sacrebleu
rapidfuzz
marisa-trie
polars
torch
datasets
transformers
tensorboard
lightning
rich
torchmetrics
